.chartsContainer {
  max-width: 1652px;
  width: 100%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;

  &__lineCharts {
    border-radius: 30px;
    box-shadow: 0 3px 26px #00000008;
    background-color: #ffff;
    box-sizing: border-box;
    padding: 30px;
  }

  &__lineCharts {
    max-width: 1047px;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 328px;
    width: 100%;
    margin-bottom: 25px;
  }

  &__chartWrapHeader {
    max-width: 140px;
  }

  &__title {
    font-size: 15px;
    color: #A3A6B9;
    text-transform: uppercase;
    margin: 0;
  }

  &__select {
    padding: 0 10px;

    &--withBorder {
      border-right: 1px solid black;
    }
  }

  &__selectName {
    margin-right: 10px;
    font-size: 13px;
  }

}
